.dart_tool
.packages
.pub
build
!pubspec.lock

# See https://github.com/dart-lang/site-webdev/issues/1351
**/test/**/*.g.dart

# Boilerplate files: ignore copies but not originals

.gitignore
LICENSE
**/web/styles.css
**/web/favicon.png

!/.gitignore
!**/_boilerplate/**
